@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
}

.text-button{
    position: relative;
    z-index: 2;
}